<%- include("./includes/head.ejs") %>

<form action="/auth/edituserdetail" method="post">
        <input type="text" placeholder="new Name" name="name" />
        <input type="text" placeholder="enter registered email address" name="email" />
        <input type="submit" />
    </form>

<%- include("./includes/head.ejs") %>