<%- include("./includes/head.ejs") %>

    <form action="/auth/userdetail" method="post">
        <input type="email" placeholder="Email" name="email" />
        <input type="submit" />
    </form>

<%- include("./includes/head.ejs") %>