<%- include("./includes/head.ejs") %>

<form action="/auth/login" method="post">
        <input type="email" placeholder="Email" name="email" />
        <input type="password" placeholder="Password" name="password" />
        <input type="submit" />
    </form>

    <a href="/auth/signin">dont have an account? signin</a>

<%- include("./includes/head.ejs") %>